#playingField {
    background: #bdef8b;
    border: 1px solid black;
    margin: auto;
    padding: 0px;
    display: block;
}

.scoreDisplay {
    text-align: center;
}

#gameOverText {
    text-align: center;
    background: #f47070;
    width: 320px;
    margin: auto;
}

#gameOverMessage {
    font-size: 200%;
    font-weight: bold;
}

#startInstructions {
    text-align: center;
    background: #8ad9f2;
    width: 320px;
    margin: auto;
}

#header {
    text-align: center;
}

#controls {
    text-align: center;
}

#controlsText {

}

#controlsImage {
    vertical-align: middle;
}

h1 {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}
